@font-face {
    font-family: 'Dose';
    src: url(Fontes/Dosis/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(Fontes/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid-conteudo-banner {
    background-image: url(img-pagina-home/Banner.png);
    height: 820px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container-grid-conteudo-banner h1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: 'Dose';
}

.container-grid-conteudo-banner p {
    color: aliceblue;
    max-width: 50%;
    text-align: center;
    font-family: 'Quicksand';
}

.Bandas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    background-image: url(img-pagina-home/Rectangle\ 103.svg);
}

.AcDc {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    flex-direction: column;
    margin-top: 10%;
}

.infoAcdc {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5%;
}

.button_AcDc {
    align-self: flex-end;
    margin-right: 25%;
    background-color: #FAD800;
    font-family: 'Quicksand';
    height: 50px;
    width: 130px;
    border-radius: 11%;
}

.GunsNRose {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    flex-direction: column;
    margin-top: 5%;
}

.infoGunsnRose {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5%;
}

.button_GunsNRose {
    align-self: flex-end;
    margin-right: 25%;
    background-color: #FAD800;
    font-family: 'Quicksand';
    height: 50px;
    width: 130px;
    border-radius: 11%;
}

.Kiss {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}

.infoKiss {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5%;
}

.button_Kiss {
    align-self: flex-end;
    margin-right: 25%;
    background-color: #FAD800;
    font-family: 'Quicksand';
    height: 50px;
    width: 130px;
    border-radius: 11%;
}


.AcDc p {
    max-width: 50%;
    text-align: center;
    color: aliceblue;
    font-family: 'Quicksand';
}

.GunsNRose p {
    max-width: 50%;
    text-align: center;
    color: aliceblue;
    font-family: 'Quicksand';
}

.Kiss p {
    max-width: 50%;
    text-align: center;
    color: aliceblue;
    font-family: 'Quicksand';
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    gap: 3%;
    font-family: 'Quicksand';
}

footer p {
    margin-top: 1%;
}

footer img {}